.hero-section {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.hero-section button {
    border-radius: 0px;
    text-transform: uppercase;
}