.projects {
  height: 100vh;
  width: 100%;
  background: #f5f5f5;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.projects h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

