:root {
  --azul-oscuro: rgba(26, 45, 90, 1);
  --blanco: rgba(255, 255, 255, 1);
  --negro: rgba(0, 0, 0, 1);
  --gradient-blue-black: linear-gradient(180deg, var(--negro) 0%, var(--azul-oscuro) 50%, var(--negro) 100%);
  --gradient-black-blue: linear-gradient(180deg, var(--negro) 0%, var(--azul-oscuro) 50%, var(--negro) 100%);
  --gradient-diagonal: linear-gradient(180deg, var(--negro) 0%, var(--azul-oscuro) 50%, var(--negro) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent !important;
  overflow-x: hidden;
}

@font-face {
  font-family: "Pixel Mono";
  src: url("../public/fonts/VCR_OSD_MONO_1.001.ttf");
}

body {
  font-family: "Pixel Mono", monospace;
}